.grid-container {
  height: 40vh;
  width: 55vw;
  display: grid;
  
  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

h2 {text-align: center;}

div {text-align: center;
  
}